body{
    background-color: #443f3f;
}

.title-image{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.image-1{
    width: 100%;
}

a{
    color: #912b2b;
    text-decoration: none;
    border-bottom: 3px double;
}

h2{
    margin-top: auto;
    margin-bottom: auto;
    font-family: "Fuzzy Bubbles", serif;
    font-weight: 700;
    font-style: normal;
}
p{
    margin-left: 20%;
    margin-right: 20%;
    color: #c7c7c7;
    font-family: "Fuzzy Bubbles", serif;
    font-weight: 400;
    font-style: normal;
}

.reason-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 5%;
    margin-right: 5%;
}

.reason-left{
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    background-color: rgb(255, 255, 255);
    width: 55%;
    display: flex;
    flex-direction: row;

}

.reason-right{
    padding: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    background-color: rgb(255, 255, 255);
    width: 55%;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    flex-direction: row;
}

.number-img{
    width: 30%;
}
